//- extends layout

//- block content
//-   h1= Grid Display
//-   p Rows: #{query.rows}, Columns: #{query.cols}

extends layout

block content
  h1 Grid Display
  p Rows: #{query.rows}, Columns: #{query.cols}
