extends layout

block content
  h1= title
  p This app is built using Express and Pug and includes a sample button.

  // Sample Button
  button(type="button", class="btn btn-primary", onclick="boost()") Sample Button
  div#boost Add in extra

  script.
    let value = 0;
    let amt = 3;

    function boost() {
      amt += 1;
      value += amt;
      document.getElementById('boost').textContent = `Boosted ${value} by ${amt}.`;
    }
